.price-cards {
  overflow: auto;
  display: flex;
}
.price-card {
  width: 380px;
  height: 770px;
  background: $background-color-dark-blue;
  box-shadow: $shadow-card;
  margin-right: 18px;
  //   overflow: auto;
  flex-shrink: 0;

  &:last-child {
    margin-right: 0;
  }
  &:nth-child(2) {
    position: relative;
    overflow: hidden;
  }
  &__badge {
    background: $background-color-badge;
    transform: rotate(45deg);
    display: block;
    text-align: center;
    position: absolute;
    top: 31px;
    right: -30px;
    width: 147px;
    height: 25px;
    font-weight: bold;
    font-size: 14px;

    line-height: 25px;
  }
  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 33px;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    display: block;
    text-align: center;
  }
  &__price {
    font-weight: bold;
    font-size: 55px;
    line-height: 105px;
    text-align: center;
    display: block;
    margin-top: 33px;
  }

  &__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 40px 26px;
  }
  &__options-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__options-item {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 16px 21px 16px 22px;
  }
  &__checkmark {
    width: 15px;
    height: 13px;
    display: inline-block;
    margin-right: 22px;
  }

  &__options-item:nth-child(odd) {
    background-color: $background-color-odd-item;
  }
  &__order-btn {
    padding: 0;
    margin: 0;
    width: 154px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 20px;
    color: $text-color-white;
    border: 0;
    margin: 0 auto;
    display: block;
    margin-top: 39px;
    margin-bottom: 40px;
  }
}
.price-basic {
  background-color: $background-color-green;
}
.price-business {
  background-color: $background-color-blue;
}
.price-webshop {
  background-color: $background-color-orange;
}

.symbol__green {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.symbol__blue {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}
.symbol__orange {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}

.card-basic__btn {
  background: $background-color-green;
}
.card-business__btn {
  background-color: $background-color-blue;
}
.card-webshop__btn {
  background-color: $background-color-orange;
}
