$background-color-orange: #ec632a;
$background-color-blue: #3a6ba5;
$background-color-dark-blue: #334247;
$background-color-green: #5bb189;
$background-color-badge: #dc3f45;
$background-color-odd-item: #2a3438;
$background-color-page: #141b1c;

$text-color-white: #fff;

$shadow-card: 0px 6px 6px rgba(0, 0, 0, 0.087466);
